<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="app-name" source="spring.application.name"/>
    <!-- from org/springframework/boot/logging/logback/base.xml -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />
    <!--  default spring pattern with marker -->
    <property name="CONSOLE_LOG_PATTERN" value="kata: app = %clr(${app-name}){blue}, timestamp = %clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint}, level = %clr(${LOG_LEVEL_PATTERN:-%5p}), pid = %clr(${PID:- }){magenta}, className =  %clr(%-40.40logger{39}){cyan}, %m %marker %n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.opensaml.xml.XMLConfigurator" level="OFF"/>
    <logger name="fr.kata" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
